demisto_sdk/commands/download/tests/tests_data/custom_content/playbook-DummyPlaybook.yml
description: Test to ensure that indicator extraction and formatting for 1000 indicator
  string (used as a benchmark amount) executes in less than 1 second.
id: DummyPlaybook
inputs: []
name: DummyPlaybook
outputs: []
starttaskid: "0"
fromversion: TEST
toversion: TEST
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7dccb316-78b5-4769-86b9-2ded072d2ff4
      iscommand: false
      name: ""
      version: -1
    taskid: 7dccb316-78b5-4769-86b9-2ded072d2ff4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 3075b814-ad70-405f-86b8-729012e8b91a
      iscommand: false
      name: DeleteContext
      script: DeleteContext
      type: regular
      version: -1
    taskid: 3075b814-ad70-405f-86b8-729012e8b91a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates 1000 random emails and batches them into a large string.
        Returns the time it takes to execute `extractIndicators` on the big batch
        of indicators.
      id: 1850c797-ad9b-4732-8bc8-3d88abeafbd9
      iscommand: false
      name: FormattingPerformance
      script: FormattingPerformance
      type: regular
      version: -1
    taskid: 1850c797-ad9b-4732-8bc8-3d88abeafbd9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Time
                root: Formatting
          operator: lessThan
          right:
            value:
              simple: "1.5"
      label: "yes"
    id: "3"
    ignoreworker: false
    nexttasks:
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 261dccf2-61bd-4a1d-83e8-983335dec0d7
      iscommand: false
      name: Check that `extractIndicators` (and the formatting scripts) took less
        than 1 seconds on 1000 indicator string
      type: condition
      version: -1
    taskid: 261dccf2-61bd-4a1d-83e8-983335dec0d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 87e46f01-2c2a-40ec-8b02-5707a8bf313d
      iscommand: false
      name: Done TEST
      type: title
      version: -1
    taskid: 87e46f01-2c2a-40ec-8b02-5707a8bf313d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 370d477f-1312-457c-8345-88a926b45202
      iscommand: false
      name: DeleteContext
      script: DeleteContext
      type: regular
      version: -1
    taskid: 370d477f-1312-457c-8345-88a926b45202
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates 1000 random emails and batches them into a large string.
        Returns the time it takes to execute `extractIndicators` on the big batch
        of indicators.
      id: e14de43b-32dc-4ca1-879a-ad295e100a99
      iscommand: false
      name: FormattingPerformance... again
      script: FormattingPerformance
      type: regular
      version: -1
    taskid: e14de43b-32dc-4ca1-879a-ad295e100a99
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
