demisto_sdk/tests/test_files/download_command/playbook-3a2f8506-c825-42fc-84fa-86020cadc27f.yml
id: 3a2f8506-c825-42fc-84fa-86020cadc27f
inputs: []
name: MSGraph_DeviceManagement_Test
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b68dbaed-dd68-439c-8b3a-f947ef7610a7
      iscommand: false
      name: ""
      version: -1
    taskid: b68dbaed-dd68-439c-8b3a-f947ef7610a7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      limit: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft Graph Device Management
      description: List of managed devices
      id: 05d8abe1-0907-467a-8f20-6f7918c434a1
      iscommand: true
      name: msgraph-list-managed-devices
      script: Microsoft Graph Device Management|||msgraph-list-managed-devices
      type: regular
      version: -1
    taskid: 05d8abe1-0907-467a-8f20-6f7918c434a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      device-id:
        simple: ${MSGraphDeviceManagement.Device.ID}
      device_id:
        simple: ${MSGraphDeviceManagement.Device.ID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Microsoft Graph Device Management
      description: Get managed devices
      id: 71b2efaa-256c-48bd-88d5-f4c9e1e69ace
      iscommand: true
      name: msgraph-get-managed-device-by-id
      script: Microsoft Graph Device Management|||msgraph-get-managed-device-by-id
      type: regular
      version: -1
    taskid: 71b2efaa-256c-48bd-88d5-f4c9e1e69ace
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      device_id:
        simple: ${MSGraphDeviceManagement.Device.ID}
      quick_scan: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Scans the device with windows defender (windows devices only)
      id: 8be6c4eb-0057-4623-8e00-712b6dc2c51e
      iscommand: true
      name: msgraph-windows-device-defender-scan
      script: '|||msgraph-windows-device-defender-scan'
      type: regular
      version: -1
    taskid: 8be6c4eb-0057-4623-8e00-712b6dc2c51e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 99370a24-51e4-4e2c-8124-49d6015c3066
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 99370a24-51e4-4e2c-8124-49d6015c3066
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: e1d3135e-a792-4790-84fb-0b04e6efc2c1
      iscommand: false
      name: DeleteContext
      script: DeleteContext
      type: regular
      version: -1
    taskid: e1d3135e-a792-4790-84fb-0b04e6efc2c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "6":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.ID
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.UserID
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.Name
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.OperatingSystem
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.OSVersion
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.Model
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: MSGraphDeviceManagement.Device.Manufacturer
          operator: isExists
      label: "yes"
    id: "6"
    ignoreworker: false
    nexttasks:
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a989651a-fd9e-479a-8fa0-4380cd1eab08
      iscommand: false
      name: Verify Context
      type: condition
      version: -1
    taskid: a989651a-fd9e-479a-8fa0-4380cd1eab08
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
