demisto_sdk/tests/test_files/download_command/playbook-DummyPlaybook.yml
description: Test to ensure that indicator extraction and formatting for 1000 indicator
  string (used as a benchmark amount) executes in less than 1 second.
id: DummyPlaybook
inputs: []
name: DummyPlaybook
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6120829a-0d3e-4e95-85a8-0bcf27b0a4c4
      iscommand: false
      name: ""
      version: -1
    taskid: 6120829a-0d3e-4e95-85a8-0bcf27b0a4c4
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 72f4be14-b261-4f0d-868b-e04a0c4bd768
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 72f4be14-b261-4f0d-868b-e04a0c4bd768
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates 1000 random emails and batches them into a large string.
        Returns the time it takes to execute `extractIndicators` on the big batch
        of indicators.
      id: f6430cbd-3ef0-47dc-8ae3-d5870a3cefea
      iscommand: false
      name: FormattingPerformance
      scriptName: FormattingPerformance
      type: regular
      version: -1
    taskid: f6430cbd-3ef0-47dc-8ae3-d5870a3cefea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Time
                root: Formatting
          operator: lessThan
          right:
            value:
              simple: "1.5"
      label: "yes"
    id: "3"
    ignoreworker: false
    nexttasks:
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 42ae43e6-284e-49bf-823a-a76c8d29e38e
      iscommand: false
      name: Check that `extractIndicators` (and the formatting scripts) took less
        than 1 seconds on 1000 indicator string
      type: condition
      version: -1
    taskid: 42ae43e6-284e-49bf-823a-a76c8d29e38e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5c4b904-794b-47a6-8691-51eeda347503
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b5c4b904-794b-47a6-8691-51eeda347503
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Delete field from context
      id: 1c41d8d8-d4e2-49c4-8186-b5787be48b26
      iscommand: false
      name: DeleteContext
      scriptName: DeleteContext
      type: regular
      version: -1
    taskid: 1c41d8d8-d4e2-49c4-8186-b5787be48b26
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Generates 1000 random emails and batches them into a large string.
        Returns the time it takes to execute `extractIndicators` on the big batch
        of indicators.
      id: 7464d1e3-a6f8-4c93-8c5e-b65d2e05553d
      iscommand: false
      name: FormattingPerformance... again
      scriptName: FormattingPerformance
      type: regular
      version: -1
    taskid: 7464d1e3-a6f8-4c93-8c5e-b65d2e05553d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1085,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
