demisto_sdk/tests/test_files/download_command/playbook-DummyPlaybook.yml
b'id: DummyPlaybook\nversion: 1\nvcShouldKeepItemLegacyProdMachine: false\nname: DummyPlaybook\ndescription: Test to ensure that indicator extraction and formatting for 1000 indicator\n  string (used as a benchmark amount) executes in less than 1 second.\nstarttaskid: "0"\ntasks:\n  "0":\n    id: "0"\n    taskid: 7fde486e-834c-4eb5-8578-5f6417e3fdea\n    type: start\n    task:\n      id: 7fde486e-834c-4eb5-8578-5f6417e3fdea\n      version: -1\n      name: ""\n      iscommand: false\n      brand: ""\n    nexttasks:\n      \'#none#\':\n      - "1"\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 50\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "1":\n    id: "1"\n    taskid: 1bb8478b-35f4-407f-8ec1-8cea910b2085\n    type: regular\n    task:\n      id: 1bb8478b-35f4-407f-8ec1-8cea910b2085\n      version: -1\n      name: DeleteContext\n      description: Delete field from context\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: ""\n    nexttasks:\n      \'#none#\':\n      - "2"\n    scriptarguments:\n      all:\n        simple: "yes"\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 195\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "2":\n    id: "2"\n    taskid: 3672b1ab-33cf-4926-8aef-5d2bd9441e34\n    type: regular\n    task:\n      id: 3672b1ab-33cf-4926-8aef-5d2bd9441e34\n      version: -1\n      name: FormattingPerformance\n      description: Generates 1000 random emails and batches them into a large string.\n        Returns the time it takes to execute `extractIndicators` on the big batch\n        of indicators.\n      scriptName: FormattingPerformance\n      type: regular\n      iscommand: false\n      brand: ""\n    nexttasks:\n      \'#none#\':\n      - "5"\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 370\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "3":\n    id: "3"\n    taskid: 82bf345d-7965-41fe-89ae-071f35a36c8e\n    type: condition\n    task:\n      id: 82bf345d-7965-41fe-89ae-071f35a36c8e\n      version: -1\n      name: Check that `extractIndicators` (and the formatting scripts) took less\n        than 1 seconds on 1000 indicator string\n      type: condition\n      iscommand: false\n      brand: ""\n    nexttasks:\n      "yes":\n      - "4"\n    separatecontext: false\n    conditions:\n    - label: "yes"\n      condition:\n      - - operator: lessThan\n          left:\n            value:\n              complex:\n                root: Formatting\n                accessor: Time\n            iscontext: true\n          right:\n            value:\n              simple: "1.5"\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 895\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "4":\n    id: "4"\n    taskid: 9e9aeffa-7a5a-4668-8f19-229261beb088\n    type: title\n    task:\n      id: 9e9aeffa-7a5a-4668-8f19-229261beb088\n      version: -1\n      name: Done\n      type: title\n      iscommand: false\n      brand: ""\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 1070\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "5":\n    id: "5"\n    taskid: 71fdf7b5-061d-4b12-8da9-7be02f612fa8\n    type: regular\n    task:\n      id: 71fdf7b5-061d-4b12-8da9-7be02f612fa8\n      version: -1\n      name: DeleteContext\n      description: Delete field from context\n      scriptName: DeleteContext\n      type: regular\n      iscommand: false\n      brand: ""\n    nexttasks:\n      \'#none#\':\n      - "6"\n    scriptarguments:\n      all:\n        simple: "yes"\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 545\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\n  "6":\n    id: "6"\n    taskid: faf6bb22-0860-4d89-8dc2-69ea8f3977a4\n    type: regular\n    task:\n      id: faf6bb22-0860-4d89-8dc2-69ea8f3977a4\n      version: -1\n      name: FormattingPerformance... again\n      description: Generates 1000 random emails and batches them into a large string.\n        Returns the time it takes to execute `extractIndicators` on the big batch\n        of indicators.\n      scriptName: FormattingPerformance\n      type: regular\n      iscommand: false\n      brand: ""\n    nexttasks:\n      \'#none#\':\n      - "3"\n    separatecontext: false\n    continueonerrortype: ""\n    view: |-\n      {\n        "position": {\n          "x": 50,\n          "y": 720\n        }\n      }\n    note: false\n    timertriggers: []\n    ignoreworker: false\n    skipunavailable: false\n    quietmode: 0\n    isoversize: false\n    isautoswitchedtoquietmode: false\nview: |-\n  {\n    "linkLabelsPosition": {},\n    "paper": {\n      "dimensions": {\n        "height": 1085,\n        "width": 380,\n        "x": 50,\n        "y": 50\n      }\n    }\n  }\ninputs: []\noutputs: []\n'