demisto_sdk/tests/test_files/incorrect_playbook_reference_use.yml
id: e6e2a098-b6c3-4dc3-8eb6-98a5306ae59d
version: 20
vcShouldKeepItemLegacyProdMachine: false
name: new one
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 96b2052c-2dd2-4df6-84bf-dc18bd917d4b
    type: start
    task:
      id: 96b2052c-2dd2-4df6-84bf-dc18bd917d4b
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: b712bc6d-1216-4431-8b66-55018c429394
    type: regular
    task:
      id: b712bc6d-1216-4431-8b66-55018c429394
      version: -1
      name: Standard without automation have to be in context assignee
      description: commands.local.cmd.add.child
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    defaultassigneecomplex:
      complex:
        root: inputs.tocheck
        filters:
        - - operator: isEqualString
            left:
              value:
                simple: inputs.tocheck
              iscontext: true
            right:
              value:
                simple: incident.tocheck
              iscontext: true
        transformers:
        - operator: indexOf
          args:
            fromLast: {}
            item:
              value:
                simple: incident.ysyy
    view: |-
      {
        "position": {
          "x": 450,
          "y": 180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 04e5b998-f083-40f6-8f00-667e4c0f98f3
    type: regular
    task:
      id: 04e5b998-f083-40f6-8f00-667e4c0f98f3
      version: -1
      name: standard with automation and transformers
      description: |
        Adds provided entries to the incident Evidence Board. In playbook, can be positioned after a task to add the previous task's entries to Evidence Board automatically (with no need to provide arguments)
      scriptName: AddEvidence
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      desc:
        simple: inputs.nocontext
      description:
        simple: inputs.nocontext
      entryIDs:
        simple: inputs.nocontext
      occurred:
        simple: inputs.nocontext
      tags:
        simple: inputs.nocontext
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Account ID
      output:
        complex:
          root: incident
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: incident
                iscontext: true
              right:
                value:
                  simple: inputs.asvalue333
          - - operator: isEqualString
              left:
                value:
                  simple: incident.tocontext
                iscontext: true
              right:
                value:
                  simple: inputs.asvalueaswell
          transformers:
          - operator: atIndex
            args:
              index:
                value:
                  simple: inputs.notgood
          - operator: DT
            args:
              dt:
                value:
                  simple: incident.asvalue
                iscontext: true
          - operator: sliceByItem
            args:
              from:
                value:
                  simple: incident.status
                iscontext: true
              to:
                value:
                  simple: two args to transformer
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: cbcb1e4d-78cf-4fb9-8125-6653a8daa984
    type: condition
    task:
      id: cbcb1e4d-78cf-4fb9-8125-6653a8daa984
      version: -1
      name: conditional
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.asvaluegood
            iscontext: true
          right:
            value:
              simple: inputs.asvaluenotgood
    view: |-
      {
        "position": {
          "x": 450,
          "y": 530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: f01fcda6-f3b5-4668-8bf1-fea45b099c29
    type: condition
    task:
      id: f01fcda6-f3b5-4668-8bf1-fea45b099c29
      version: -1
      name: conditional matbe complex
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      condition-1:
      - "5"
    separatecontext: false
    sla:
      minutes: 0
      hours: 0
      days: 0
      weeks: 0
    conditions:
    - label: condition-1
      condition:
      - - operator: isAfter
          left:
            value:
              simple: inputs.context
            iscontext: true
          right:
            value:
              simple: inputs.valueeee1
    - label: condition-2
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.asvalue
          right:
            value:
              simple: inputs.asvalue2
      - - operator: isEqualString
          left:
            value:
              simple: inputs.asvalue
          right:
            value:
              simple: inputs.asvalue3
    view: |-
      {
        "position": {
          "x": 450,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 0daa75b6-180b-4bf5-8ff0-e11810c49ec5
    type: condition
    task:
      id: 0daa75b6-180b-4bf5-8ff0-e11810c49ec5
      version: -1
      name: conditional with assignee and question
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "Yes":
      - "6"
    scriptarguments:
      using:
        simple: incident.value
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 320,
          "y": 900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: Analyst,incident.yay
      subject:
        simple: incident.yay3
      body:
        simple: inputs.tocheck
      methods:
      - email
      format: ""
      bcc: null
      cc:
        simple: incident.yay2
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
      replyOptions:
      - "Yes"
      - "No"
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 68b4b3ea-6ce3-4c5b-8514-819033ce39dc
    type: collection
    task:
      id: 68b4b3ea-6ce3-4c5b-8514-819033ce39dc
      version: -1
      name: data collection
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      using:
        simple: incident.asvalue89
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 330,
          "y": 1080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: Analyst,inputs.asvalue
      subject:
        simple: inputs.asvalue7
      body: null
      methods:
      - email
      format: ""
      bcc: null
      cc:
        simple: inputs.asvalue4
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: inputs.asvalue9
        required: false
        gridcolumns: []
        defaultrows: []
        type: shortText
        options: []
        optionsarg: []
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: question
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 1923d0f0-6390-4ef8-89e6-63bd2f2ddaa5
    type: regular
    task:
      id: 1923d0f0-6390-4ef8-89e6-63bd2f2ddaa5
      version: -1
      name: vt-comments-get command task
      description: Checks the reputation of a domain.
      script: VirusTotal|||domain
      type: regular
      iscommand: true
      brand: VirusTotal
    scriptarguments:
      domain:
        simple: incident.tocheck
      fullResponse:
        simple: incident.tocheck
      using:
        simple: incident.tocheck
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 330,
          "y": 1270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Acquisition Hire
      output:
        simple: incident.tocheck
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1315,
        "width": 510,
        "x": 320,
        "y": 50
      }
    }
  }
inputs:
- key: tocheck
  value:
    simple: incident.asvalue222
  required: false
  description: ""
  playbookInputQuery: null
- key: ""
  value: {}
  required: false
  description: ""
  playbookInputQuery:
    query: ""
    queryEntity: indicators
    results: null
    daterange:
      fromdate: 0001-01-01T00:00:00Z
      todate: 0001-01-01T00:00:00Z
      period:
        by: ""
        byto: ""
        byfrom: ""
        tovalue: null
        fromvalue: null
        field: ""
      fromdatelicenseval: 0001-01-01T00:00:00Z
    runFromLastJobTime: true
- key: tocheck as well with transform
  value:
    complex:
      root: incident
      filters:
      - - operator: isEqualString
          left:
            value:
              simple: incident
            iscontext: true
          right:
            value:
              simple: incident.tocheck111
      accessor: accountname
      transformers:
      - operator: DT
        args:
          dt:
            value:
              simple: incident.tocheckwow
  required: false
  description: ""
  playbookInputQuery: null
outputs: []
quiet: true
